<div class="card mb-5 mt-3 h-100 w-100 text-center" (click)="navigateToProductDetails()">
  <h6 class="card-subtitle  text-muted">{{salles.category}}</h6>
  <h6 class="card-title">{{salles.title}}</h6>
  <img [src]="salles.image" class="card-img-top">
  <div class="card-body text-center">
    <p class="card-text">{{salles.description}}</p>
    <h5 class="card-text">{{salles.price |price}}</h5>
    <h5  class="card-text" [ngStyle]="{'color': salles.rating.count != 0 ? 'green' : 'red' }">{{salles.rating.count|count}}</h5>
    <button class="btn btn-primary mt-5 ">detailes</button>
   <a  class="btn btn-primary mt-auto" (click)="navigateToProductDetails()">ADD TO CART</a> 
  </div>
</div> 